extern "C" {
#include "xx__xx.h"
}

#include "CppUTest/TestHarness.h"

TEST_GROUP(xx__xx) {
    void setup()
    {
    }
    void teardown()
    {
    }
};

TEST(xx__xx, init)
{
    FAIL("Start here");
}


